[MESSAGES CONTROL]
disable=locally-disabled,invalid-sequence-index,invalid-name,missing-docstring,import-error

[REPORTS]
reports=yes

[SIMILARITIES]
min-similarity-lines=10
ignore-docstrings=yes

[FORMAT]
max-line-length=120
